$font-family-base:
    "Inter",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    "Noto Sans",
    "Helvetica Neue",
    sans-serif;

$primary: #c93b00;

$btn-category-background: #f8e8d4;
$btn-category-border: #efc5a3;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
$btn-font-weight: 700;
