==
<?
use Bookstore\Catalog\Models\Book;

function onStart()
{
    $this['books'] = Book::where('is_featured', true)->get();
}

?>
==
{% set btn_classes = "btn bg-dark text-light rounded-0 w-100 h-100" %}

<div class="position-relative" data-embla-root>
    <div class="embla-viewport">
        <div class="embla-container">
            {% for book in books %}
            <div class="embla-slide">
                {% partial 'book' index=loop.index0 %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="embla-button-wrapper">
        <button class="{{ btn_classes }}" data-embla-btn="prev">
            <i class="bi bi-chevron-left"></i>
        </button>
    </div>
    <div class="embla-button-wrapper end-0">
        <button class="{{ btn_classes }}" data-embla-btn="next">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>
</div>