.card {
  .transition-transform {
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    .transition-transform {
      transform: scale(1.03);
    }
  }
}
.book-discount-badge {
    top: 1rem;
    left: -0.30rem;
    z-index: 10;
    font-size: 0.85rem;
  }