@import "_variables.scss";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import './embla';
@import './book-card';
@import './cart_widget';


body {
    min-height: 100%;
}

.hide-text-on-load.jax-attach-loader {
    .btn-text {
        display: none !important;
    }
    &::after {
        margin-left: 0 !important;
    }
}
